  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #4e0d3a;
    font-size: 10px;
  }

  ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  .main-header {
    display: flex;
    background-color: #4e0d3a;
  }

  .logo {
    width: 18%;
    margin: 3%;
  }

  .main-nav {
    width: 0;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #4e0d3a;
    overflow: hidden;
    transition: 300ms;
    font-size: 1em;
    z-index: 1000;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .main-nav a {
    display: block;
    color: #FFFF;
    font-size: 1.4em;
    text-align: center;
    padding: 1em 0;
    border-bottom: solid 1.5px #720d5d;
    text-transform: uppercase;

  }

  #open-nav:checked~.main-nav {
    width: 75vw;
    display: block;
  }

  #open-nav {
    display: none;
    position: fixed;
  }

  .close {
    color: #e30425; ;
    font-size: 3em;
    position: absolute;
    right: 10px;
    top: 5px;

  }
  .toggle-nav {
    font-size: 4em;
    color: #e30425;
    flex: 1 1 0%;
    justify-content: flex-end;
    display: flex;
    margin: auto 20px;
  }

  .main-banner{
    margin: auto;
    position: relative;
    overflow: hidden;
    line-height: 0;

  }

  .banner-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1200px;
  }

  .banner-text p {
    color: rgb(243,199,214);
    text-shadow: 2px 4px 2px #4e0d3a;
    font-size: 3em;
    line-height: 1.3;
    text-align: center;
    padding: 0 15px;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
  }

  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .rslides li {

    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
  }

  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
  }

  .rslides img {
    display: block;
    height: 100%;
    float: left;
    width: 100%;
    border: 0;
  }

  #about {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFFF;
  }

  .about-image {
    margin: 50px 6%;
  }

  .about-text {
    order: -1;
    margin: auto ;
    text-align: center;
  }

  .about-text h2 {
    font-size: 40px;
    color: #e30425;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 15%;
    margin-bottom: 9%;
    text-transform: uppercase;
  }

  .about-text h3 {
    font-size: 16px;
    color: #4e0d3a;
    font-family: 'Roboto', sans-serif;
    margin: 4% 6%;
  }

  .about-text a {
    display: inline-block;
    color: #FFFF;
    background-color: #4e0d3a;
    padding: 15px ;
    font-size: 15px;
    text-transform: uppercase;
    margin: 4% auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }


  //MORE ABOUT
  #about-2 {
    background-color: #4e0d3a;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .inner-container {
    float: right;
    margin: 10px;
    background-size: contain;
    color: #e30425;
  }

  .inner-container h2 {
    margin-bottom: 30px;
    font-size: 2.8em;
    order: -1;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    padding-left: 6%;
  }

  .text-about p{
    color: #FFFF;
  }

  .about-section-image {
    margin: 30px 6%;
  }

  .text-about {
    font-size: 1.65em;
    line-height: 30px;
    text-align: left;
    margin: 35px 6%;
  }

  //WEATHERS

  #weather {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 90px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: rgb(243,199,214);
    text-transform: uppercase;
  }

  .weather-title {
    font-size: 4em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: #4e0d3a;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }

  .weather-list li a {
    display: block;
    position: relative;
    line-height: 0;
    color: white;
  }

  .weather-text {
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
  }


  //TEAM

  #team {
    //background-image: url("/assets/bcg-about-us-2.jpg");
    background-size:cover;
    background-color: #4e0d3a;
    width: 100%;
  }

  .students-all {
    margin: 30px 15px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .vip-students h2 {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color:#e30425;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 0;
    padding-top: 1.3em;
    margin-right:15px;
    margin-left: 15px;
  }

  .vip-students h3 {
    font-size: 40px;
    text-transform: uppercase;
    font-style: oblique;
    text-align: left;
    color: #FFFF;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px #e30425;
    margin-bottom: 5%;
  }

  .vip-students p {
    color: #FFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;

  }

  .vip-students-para{
    color: #FFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: auto 10%;
  }

  .student {
    padding: 10px 15px;
    text-align:center;
    margin: 10px;
  }

  .student p {
    text-align: left;
    font-size: 15px;
    font-weight: 600;

  }


  //CONTACTO

  #contact {
    background: rgb(243,199,214);
    padding-bottom: 30px;
    padding-top: 15px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding-right:13px;
    padding-left: 13px;
  }

  .contact-container {
    margin: 15px;
    position: relative;
  }

  .title-contact {
    color: #4e0d3a;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    padding-top: 40px;
  }

  .form-items .input {
    width: 100%;
    margin-bottom: 9px;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
    border-radius: 2em;
    font-family: 'Roboto', sans-serif;
    position: relative;


  }
  .form-items .input.message {
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding-left: 15px;
    resize: none;
    font-family: 'Roboto', sans-serif;
    position: relative;
  }

  .btn-contact {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: #FFFF;
    padding: 12px;
    cursor: pointer;
    border-radius: 2em;
    background-color: #e30425;
    font-family: 'Montserrat', sans-serif;
  }

  //FOOTER

  .main-footer {
    background-color: #4e0d3a;
    position: relative;
    margin: auto;
    padding: 30px 0;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: 'Roboto', sans-serif;
  }

  .footer-list{
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .main-footer li {
    text-align: center;
    margin: 10px;
    font-size: 2em;
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(243,199,214);
    padding:0 8px;
    justify-content: space-between;
    color: #4e0d3a;
  }

  .main-footer a{
    display: block;
    color: #4e0d3a;
    text-transform: uppercase;
    margin: 5px 0px;
  }

  .footer-text {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10px;

  }

  .footer-text a {
    margin: 15px 10px;
    text-align: center;
    text-transform: none;
    color: white;
  }

  .footer-text h4{
    margin: 15px 5px;

  }

  .main-footer p {
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
  }

  .footer-logo{
    display: none;
  }


/*como minimo el viewport tiene 650px de ancho*/
@media (min-width:650px) {

  .banner {
    display:block; /*para sacar el display none, puedo poder cualquier otro valor. pongo block porque quiero que se comporte como un bloque*/
    margin: 30px 0.83%;/*top-bottoms/right-left*/
  }

  .banner-text p {
    font-size: 4em;
  }

  #about{
    flex-direction: row;
    justify-content: center;
  }
  .about-image {
    margin: 70px 0;
  }

  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }

  .weather-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
  }

  .weather-list li {
    width: 50%;
  }

  #team{
    padding-bottom: 30px;
  }
  .students-all {
    flex-direction: row;
    margin: 10%;
    text-align: center;
  }

  .vip-students p{
    margin: 0px 16%;
    font-size: 19px;

  }
  .vip-students h2{
    padding-top: 3.2em;
  }

  .student {
    padding: 0;
    float: left;
    margin: 0 0 10%;
    width: 48.33%;
  }

  .student h3{
    margin-top: 7%;

  }

  .student p{
    margin-left: 0;
  }


  #contact{
    padding: 10% 10%;
  }
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
  }

  .title-contact {
    margin: 80px 0;
    padding-left: auto;
    font-size: 3.3em;
  }

  .form {
    width: 58%;
    margin-right: -5%;
  }


  .main-footer li {
    display: inline-block;
    padding: 0 15px;
    margin: 30px 15px;
  }

  .main-footer li:last-child {
    border-right: none;
  }
  .main-footer a {
    border-bottom: none;
    margin: 12px 0px;

  }

  .footer-text a {
    color: white;
    margin: 15px;
    text-align: center;
    font-size: 12px;
  }
}


@media(min-width:1200px) {

  .container {
    max-width: 1200px;
    margin: auto; /*lo centro de manera horizontal*/
  }

  .main-nav {
    width: 100%;
    height: auto; /*como no sabemos cuanto quiero que tenga le pongo height.auto*/
    position: static; /*limpio y le digo que la position que tenia antes, ya no la tiene porque sino la hereda*/
    left: 0;
    top: 0;
    background-color: transparent; /*siempre que quiera eliminar un color debo poner tranparent*/
    
    margin: auto;
  }

  .main-nav li {
    float: left;
    width: 15%;
    margin: 0 0 1% 4%;
    font-size: 15px;
  }

  .main-nav a {
    background-color: transparent;
    border: none;
    color: #FFFF;
  }

  .close, .toggle-nav {
    display: none;
  }

  .banner-text {
    font-size: 2em;
  }
  .about-text {
    margin: auto;
  }

  .about-image {
    height: 100%;
    margin-right: 8%;
  }

  #about-2 {
  align-items: flex-start;
    padding-bottom: 3%;
  }

  #about-2 h2 {
    padding-left: 8%;
    padding-top: 3%;
    margin-bottom: 0;

  }

  .inner-container {
    padding:15px;
  }

  .about-section-image {
    margin-left: 8%;
    margin-top: 6%;
    width: 45%;
    float: left;
    padding-top: 0;
  }

  .text-about {
    margin: 0;
    padding: 9%;
    line-height: 26px;
    font-size: 1.7em;
  }

  .weather-list li {
    width: 33.33%;
  }
  .students-all {
    justify-content: space-around;
    padding: -1% 10%;
    margin-bottom: 0;
    margin-top: 5%;
  }

  .student {
    padding: 20px 30px;
    width: 23%;
  }
  .vip-students h2{
    padding-top: 4.2em;
    font-size: 3.5em;
  }

  .vip-students p{
    font-size: 2em;
    margin: 0 25%;
  }


  .students-all p{
    margin: auto;
  }

  .form {
    width: 61%;
  }

  #contact{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .title-contact {
    font-size: 3em;
  }

.main-footer{
  display: flex;
  flex-direction: row;
}
  .main-footer ul {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
  }

  .main-footer li{
    margin: 50px 15px;
  }

  .footer-text {
    justify-content: flex-end;
    margin: auto 6%;
  }

  .footer-text a {
    font-size: 15px;
    margin: 20px 20px;

  }

  .footer-text h4{
    margin: auto ;
  }
  .main-footer p{
    display: none;
  }

  .footer-logo{
    display: flex;
    width: 13%;
    margin: 33px 15px ;
    padding: 1%;
  }

}


